<ion-content [fullscreen]="true">


  <div id="container" class="ion-padding">
    <ion-item>
      <ion-input type="text" label="Email/Username" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="block" class="ion-margin-top ion-margin-start ion-text-capitalize"
      type="submit">Reset</ion-button>
    <ion-row class=" ion-margin-top">
      <div class="ion-text-start">
        Already have an account? <ion-text color="primary" routerLink="/login">Back to Login</ion-text>
      </div>
    </ion-row>

  </div>
</ion-content>