<ion-content [fullscreen]="true" class="ion-margin-top">
  <div id="container" class="ion-padding ion-margin-top">
    <ion-item>
      <ion-input type="text" label="First Name" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Last Name" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" label="Email" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Username" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Confirm Password" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Mobile Number" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="block" class="ion-margin-top ion-margin-start ion-text-capitalize"
      type="submit">Register</ion-button>
    <ion-row class=" ion-margin-top">
      <div class="ion-text-start">
        Already have an account? <ion-text color="primary" routerLink="/login">Back to Login</ion-text>
      </div>
    </ion-row>
    
  </div>
</ion-content>